{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center vh-80">
            <div class="bg-white p-5 rounded-5 shadow mt-3 bg-opacity-75" style="width: 45rem">
                <h3 class="text-center">{{proyecto.nombre}}</h3>
                <div class="">
                    <img src="/media/{{proyecto.foto}}"
                        class="card-img-top imgPrincipal" alt="...">
                </div><br>
                <div class="row" id= "carrousel">
                    <div id="carouselExampleDark" class="carousel slide">
                        <div class="carousel-indicators" id="indicadores">
                            
                        </div>
                        <div class="carousel-inner" id="fotosInmueble">
                          
            
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                  </div><br>
                <div class="">
                    <h5 class="bg-bold">Tipo de Proyecto: {{proyecto.tipo}}</h5>
                </div>
                <h4 class="bg-bold">Sobre el Proyecto</h4>
                <div class="form-group row">
                    <div class="mt-3 col-lg-6">
                        <label for="txtValorVivienda">Valor de Vivienda</label>
                        <input type="text" class="form-control" id="txtValorVivienda" placeholder="Desde {{proyecto.precio}}" name="txtValorVivienda" disabled>
                    </div>
                    <div class="mt-3 col-lg-6">
                        <label for="txtSeparacion">Separacion:</label>
                        <input type="text" class="form-control" id="txtSeparacion" placeholder="$ {{proyecto.costoSeparacion}}" name="txtSeparacion" disabled>
                    </div>
                    <div class="mt-3 col-lg-6">
                        <label for="txtTipoParqueadero">Tipo de parqueadero:</label>
                        <input type="text" class="form-control" id="txtTipoParqueadero" placeholder="{{proyecto.parqueadero}}" name="txtTipoParqueadero" disabled>
                    </div>
                    <div class="mt-3 col-lg-6">
                        <label for="txtAreaConstruida">Area construida:</label>
                        <input type="text" class="form-control" id="txtAreaConstruida" placeholder="{{proyecto.areaConstruida}}M2" name="txtAreaConstruida" disabled>
                    </div>
                    <div class="mt-3 col-lg-6">
                        <label for="txtNumeroTorresoManzana">Número de {{proyecto.division}}:</label>
                        <input type="text" class="form-control" id="txtNumeroTorresoManzana" placeholder="{{proyecto.numdivision}}" name="txtNumeroTorresoManzana" disabled>
                    </div>

                    <div class="mt-3 col-lg-6">
                        <label for="txtNumImuebles">Número de imuebles:</label>
                        <input type="text" class="form-control" id="txtNumImuebles" placeholder="{{proyecto.numInmuebles}}" name="txtNumImuebles" disabled>
                    </div>
                    <div class="mt-3 col-lg-12">
                        <span>Descripción</span>
                        <p>{{proyecto.descripcion}}</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-lg-12 d-flex justify-content-end align-items-center">
                        <span class="mx-2 fw-bold">¿Estas interesado en este proyecto?</span>
                        <a  id="btnCotizar" data-bs-toggle="modal" data-bs-target="#CotizarModal" class="btn btn-outline-secondary"><i class="bi bi-envelope"></i> Cotizar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CotizarModal" data-bs-backdrop="static"  tabindex="-1" aria-labelledby="CotizarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl"> <!-- Add modal-xl class here -->
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center bg-body-secondary bg-opacity-75">
                <h2>Cotizar Proyecto</h2>
            </div>
                <div class="modal-body">
                  <form action="" enctype="multipart/form-data" method="post" id="formularioDatos1"> 
                    {% csrf_token %}
                    <div class="row">     
                        <div class="mt-3 col-lg-6">
                            <div>
                                <label for="txtNombreProyecto">Nombre del proyecto:</label> <br>
                                <input class="form-control" type="text" placeholder="Nombre de proyecto" name="txtNombreProyecto" id="txtNombreProyecto" required/>
                            </div>
                        </div>
                        <div class="mt-3 col-lg-6">
                            <div>
                                <label for="txtFiducia">Fiducia:</label> <br>
                                <select name="cbFiducia" id="cbFiducia" class="form-select"
                                     required>
                                    <option value="">Seleccione</option>
                                    {% for fidu in fiducia %}
                                    <option value="{{fidu.0}}">{{fidu.0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mt-3 col-lg-6">
                            <div>
                                <label for="cbParqueadero">Parqueadero:</label> <br>
                                <select name="cbParqueadero" id="cbParqueadero" class="form-select"
                                     required>
                                    <option value="">Selecione</option>
                                    {% for parqueadero in parqueaderos %}
                                        <option value="{{parqueadero.0}}">{{parqueadero.0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mt-3 col-lg-6">
                            <div>
                                <label for="cbTipo">Tipo de proyecto:</label> <br>
                                <select name="cbTipo" id="cbTipo" class="form-select"
                                     required>
                                    <option value="">Selecione</option>
                                    {% for tipo in tipos %}
                                        <option value="{{tipo.0}}">{{tipo.0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mt-3 col-lg-6">
                            <div>
                                <label for="txtCostoSeparacion">Costo de separacion:</label> <br>
                                <input class="form-control" type="number" placeholder="Nombre de proyecto" name="txtCostoSeparacion" id="txtCostoSeparacion" required/>
                            </div>
                        </div>
                        <div class="mt-3 col-lg-6">
                            <div>
                                <label for="txtCantParqueadero">Cantidad de parqueaderos:</label> <br>
                                <input class="form-control" type="number" placeholder="Nombre de proyecto" name="txtCantParqueadero" id="txtCantParqueadero" required/>
                            </div>
                        </div>
                        <div class="mt-3 col-lg-12">
                            <div>
                                <label for="fileFoto" class="fw-bold">Imagen del Proyecto: </label>
                                <input type="file" name="fileFoto" class="form-control" id="fileFoto" placeholder="Foto" accept="image/*" onchange="cambiarImagen(event)" >
                            </div>
                        </div>
                        <div class="col-12 text-center m-2 imgPerfil2">
                            <img src="/media/simboloPNG.png" class="" alt="img-proyecto" style="width:10rem;height: 10rem;">
                        </div>
                        <div class="mt-3 col-lg-12">
                            <div>
                                <label for="txtDescripcion">Descripcion del Proyecto:</label>
                                <textarea name="txtDescripcion" id="txtDescripcion" cols="30" rows="5"
                                    class="form-control" required> </textarea>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h3 class="text-center">Ubicacion</h3>
                    </div>
                    <div class="row">
                        <div class="mt-3 col-lg-6">
                            <div>
                                <label for="txtDepartamento">Departamento Actual:</label> <br>
                                <input class="form-control" type="text" placeholder="" name="txtDepartamento" id="txtDepartamento" readonly/>
                            </div>
                        </div>
                        <div class="mt-3 col-lg-6">
                            <div>
                                <label for="txtMunicipio">Municipio Actual:</label> <br>
                                <input class="form-control" type="text" placeholder="" name="txtMunicipio" id="txtMunicipio" readonly/>
                            </div>
                        </div>
                        <h5 class="text-center mt-2">Cambiar Ubicación:</h5>
                        <div class="mt-3 col-lg-4">
                            <div>
                                <label for="cbDepartamento">Departamento:</label> <br>
                                <select name="cbDepartamento" id="cbDepartamento" class="form-select"
                                 onchange="actualizarMunicipios()" >
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-3 col-lg-4">
                            <div>
                                <label for="cbMunicipio">Municipio:</label> <br>
                                <select name="cbMunicipio" id="cbMunicipio" class="form-select"
                                    aria-label="Default select example" >
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-3 col-lg-4">
                            <div>
                                <label for="txtDireccion">Direccion:</label>
                                <input type="text" class="form-control" placeholder="Direccion" name="txtDireccion" id="txtDireccion" required>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-12 text-center">
                            <a type="button" data-bs-dismiss="modal" class="btn btn-outline-danger">Cancelar</a>
                            <button type="submit" class="btn btn-outline-secondary" id="modificarBtn" >Modificar</button>
                        </div>
                    </div>
                  </form>
                </div> 
        </div>
    </div>
</div>

{% load static%}
<link rel="stylesheet" href="{% static 'css/body.css' %}">
<script src="{% static '../static/js/proyectoDetal.js' %}"></script>
<script src="{% static '../static/js/buscador.js' %}"></script>
<script>
    readCarrusel({{proyecto.id}})
</script>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}