{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center vh-80">
            <div class="bg-white p-5 rounded-5 shadow mt-3 bg-opacity-75" style="width: 45rem">
                <h3 class="text-center">{{proyecto.nombre}}</h3>
                <div class="">
                    <img src="/media/{{proyecto.foto}}"
                        class="card-img-top imgPrincipal" alt="...">
                </div><br>
                <div class="row" id= "carrousel">
                    <div id="carouselExampleDark" class="carousel slide">
                        <div class="carousel-indicators" id="indicadores">
                            
                        </div>
                        <div class="carousel-inner" id="fotosInmueble">
                          
            
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                  </div><br>
                <div class="">
                    <h5 class="bg-bold">Tipo de Proyecto: {{proyecto.tipo}}</h5>
                </div>
                <h4 class="bg-bold">Sobre el Proyecto</h4>
                <div class="form-group row">
                    <div class="mt-3 col-lg-6">
                        <label for="txtValorVivienda">Valor de Vivienda</label>
                        <input type="text" class="form-control" id="txtValorVivienda" placeholder="Desde {{proyecto.precio}}" name="txtValorVivienda" disabled>
                    </div>
                    <div class="mt-3 col-lg-6">
                        <label for="txtSeparacion">Separacion:</label>
                        <input type="text" class="form-control" id="txtSeparacion" placeholder="$4.000.000" name="txtSeparacion" disabled>
                    </div>
                    <div class="mt-3 col-lg-6">
                        <label for="txtTipoParqueadero">Tipo de parqueadero:</label>
                        <input type="text" class="form-control" id="txtTipoParqueadero" placeholder="{{proyecto.parqueadero}}" name="txtTipoParqueadero" disabled>
                    </div>
                    <div class="mt-3 col-lg-6">
                        <label for="txtAreaConstruida">Area construida:</label>
                        <input type="text" class="form-control" id="txtAreaConstruida" placeholder="{{proyecto.areaConstruida}}M2" name="txtAreaConstruida" disabled>
                    </div>
                    <div class="mt-3 col-lg-6">
                        <label for="txtNumeroTorresoManzana">Número de {{proyecto.division}}:</label>
                        <input type="text" class="form-control" id="txtNumeroTorresoManzana" placeholder="{{proyecto.numdivision}}" name="txtNumeroTorresoManzana" disabled>
                    </div>

                    <div class="mt-3 col-lg-6">
                        <label for="txtNumImuebles">Número de imuebles:</label>
                        <input type="text" class="form-control" id="txtNumImuebles" placeholder="{{proyecto.numInmuebles}}" name="txtNumImuebles" disabled>
                    </div>
                    <div class="mt-3 col-lg-12">
                        <span>Descripción</span>
                        <p>{{proyecto.descripcion}}</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-lg-6 d-flex justify-content-end">
                        <button class="btn btn-secondary">Ver inmuebles disponibles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% load static%}
<link rel="stylesheet" href="{% static 'css/body.css' %}">
<script src="{% static '../static/js/ProyectoDetal.js' %}"></script>

<script>
    readCarrusel({{proyecto.id}})
</script>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}