<div class="row">
    <header class="p-3 mb-3 border-bottom border-black  bg-body-secondary">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            
            <i class="bi bi-houses" style="font-size: 1.5rem"></i>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 link-body-emphasis link-opacity-25-hover">INICIO</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <div class="d-flex align-items-center">
                <input type="search" class="form-control" placeholder="Buscar proyectos" aria-label="Search">
                <button class="btn btn-outline-secondary mx-1" type="submit"><i class="bi bi-search"></i></button>
              </div>
            </form>
    
            <div class="dropdown text-end">
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/vistaInicioSesion/" class="nav-link px-2 link-body-emphasis link-opacity-25-hover">INICIAR SESION</a></li>
              </ul>
            </div>
          </div>
        </div>
    </header>
</div>