{% load static %}

<div class="row">
    <header class="p-3 mb-3 border-bottom border-black  bg-body-secondary">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            
            <a href="{% url 'inicio' %}" style="text-decoration: none;" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-dark">
              <div>
                <img src="{% static 'img/Logo.png' %}" alt="">
              </div>
              <h2>
                Inmosoft
              </h2>
            </a>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <div class="position-relative">
                <div class="input-group">
                  <input onkeyup="autoComplet()" type="search" id="inputbuscar" class="form-control" placeholder="Buscar proyectos" aria-label="Buscar">
                  <span class="input-group-text"><i class="bi bi-search"></i></span>
                </div>
                <div id="listProyectos" class="position-absolute w-100 z-1"></div>
              </div>
            </form>            
    
            <div class="dropdown text-end" style=" border: 1px solid #ccc;border-radius: 10px;">
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/vistaInicioSesion/" class="nav-link px-2 link-body-emphasis link-opacity-25-hover">INICIAR SESION</a></li>
              </ul>
            </div>
          </div>
        </div>
    </header>
</div>