{% load static %}
<div class="row bg-body-secondary border-top border-black mt-5">
    <footer class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-3 mb-3">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div>
                  <img src="{% static 'img/logoInmosoft.svg' %}" style="width:40px; height:40px" alt="">
                </div>
                <h2>
                  Inmosoft
                </h2>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <h5>Contactanos</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary"><b>Dirección:</b> 768 Calle Principal, Neiva-huila</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary"><b>Teléfono:</b> +57 300 345 5678</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary"><b>Email:</b> inmosoft@gmail.com</a></li>
              </ul>
            </div>
            <div class="col-md-3 mb-3">
              <h5>Enlaces de Interés</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary"><b></b>Politícas y objetivos de calidad</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary">Linea etica</a></li>
              </ul>
            </div>
            <div class="col-md-3 mb-3">
              <h5>Descarga Nuestra App</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary"><b></b>Disponible para Android</a></li>
                <div class="d-flex justify-content-center">
                  <img  src="{% static 'img/App_Movil_Imosoft.png' %}" style="width:150px; height:150px" alt="">  
                <div>
              </ul>
            </div>
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top border-black">
            <p>© 2023 Inmosoft, Todos los derechos reservados</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-twitter" style="font-size: 2rem;"></i></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-instagram" style="font-size: 2rem;"></i></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-facebook" style="font-size: 2rem;"></i></a></li>
            </ul>
          </div>
        </div>
    </footer>
</div>