{% load static %}

<div class="row">
    <!-- Encabezado -->
    <header class="p-3 mb-3 border-bottom border-black bg-body-secondary">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" >
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <img src="{% static 'img/Logo.png' %}" alt="">
            </div>
            <h2>
              Inmosoft
            </h2>
          </div>
          
          <ul class="nav col-12 col-lg-auto  mb-2 justify-content-center mb-md-0  ms-lg-auto ">
            <i class="bi bi-houses" style="font-size: 1.5rem"></i>
            <li><a href="/inicioAdministrador/" class="nav-link px-2 link-body-emphasis link-opacity-25-hover">INICIO</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link px-2 link-body-emphasis link-opacity-25-hover dropdown-toggle " href="#" id="navbarDropdownProyectos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PROYECTOS
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownProyectos">
                <li><a class="dropdown-item" href="/vistaRegistrarProyecto/">Agregar Proyecto</a></li>
                <li><a class="dropdown-item" href="/vistaModificarProyecto/">Modificar Proyecto</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link px-2 link-body-emphasis link-opacity-25-hover dropdown-toggle" href="#" id="navbarDropdownVentas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                VENTAS
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownVentas">
                <li><a class="dropdown-item" href="#">Asistentes</a></li>
                <li><a class="dropdown-item" href="#">General</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link px-2 link-body-emphasis link-opacity-25-hover dropdown-toggle" href="#" id="navbarDropdownUsuarios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                USUARIOS
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownUsuarios">
                <li><a class="dropdown-item" href="/vistaRegistrarUsuario/">Agregar usuario</a></li>
                <li><a class="dropdown-item" href="/vistaModificarUsuario/">Modificar usuario</a></li>
              </ul>
            </li>
          </ul>
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none " id="navbarDropdownMenuPerfil" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.userFoto != "" %}
                <img src="../media/{{user.userFoto}}" alt="mdo" width="32" height="32" class="rounded-circle">
              {% else %}
                <img src="../media/usuario-icono.png" alt="mdo" width="32" height="32" class="rounded-circle">
              {% endif %}
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="navbarDropdownMenuPerfil">
              <li>
                <h5 class="dropdown-header">{{user.first_name}} {{user.last_name}} - {{user.userTipo}}</h5>
              </li>
              <li><a class="dropdown-item" href="/vistaPerfilUsuario/">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Ayuda</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/cerrarSesion/">Cerrar sesión</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>