{% extends "index.html" %}
{% block encabezado %}
    {% include "administrador/encabezado.html" %}
{%endblock %}
{% block contenido %}
<h1 class="text-white">INICIO ADMINISTRADOR</h1>
{% if mensaje %}
{% if estado %}
  <script>
    Swal.fire({
      title: '{{titulo}}',
      text: '{{mensaje}}',
      icon: 'success',               
      confirmButtonColor: '#3085d6',             
      confirmButtonText: 'Aceptar'
  }).then((result) => {
      if (result.isConfirmed) {
         
      }
  })
</script>
{% else %}
<script>
  Swal.fire({
    title: '{{titulo}}',
    text: '{{mensaje}}',
    icon: 'warning',               
    confirmButtonColor: '#3085d6',             
    confirmButtonText: 'Aceptar'
}).then((result) => {
    if (result.isConfirmed) {
       
    }
})
</script>
{% endif %}
{% endif %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/body.css' %}">
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}