{% extends "index.html" %}
{% block encabezado %}
    {% include "administrador/encabezado.html" %}
{%endblock %}
{% block contenido %}
<div class="row d-flex justify-content-center align-items-center" style="margin-top:6rem; margin-bottom: 6rem;">
    <div class="bg-white p-5 rounded-5 text-dark shadow bg-opacity-75 w-100">
        <h2 class="text-center">Registrar Proyecto</h2>
      <form action="/guardarDatosFormulario1/" enctype="multipart/form-data" method="post" id="formularioDatos1"> 
        {% csrf_token %}
        <div class="row">     
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="txtNombreProyecto">Nombre del proyecto:</label> <br>
                    <input class="form-control" type="text" placeholder="Nombre de proyecto" name="txtNombreProyecto" id="txtNombreProyecto" required/>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="cbTipoProyecto">Tipo de proyecto:</label> <br>
                    <select name="cbTipoProyecto" id="cbTipoProyecto" class="form-select"
                         required>
                        <option value="">Seleccione</option>
                        {% for tipo in tipoProyecto %}
                        <option value="{{tipo.0}}">{{tipo.0}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="cbFiducia">Fiducia:</label> <br>
                    <select name="cbFiducia" id="cbFiducia" class="form-select"
                         required>
                        <option value="">Seleccione</option>
                        {% for fidu in fiducia %}
                        <option value="{{fidu.0}}">{{fidu.0}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="txtNumeroTorresoManzanas">Numero de Torres o manzanas:</label>
                    <input type="number" class="form-control" placeholder="Numero de Torres o manzanas" name="txtNumeroTorresoManzanas" id="txtNumeroTorresoManzanas" required>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="txtNumerosApartamentosoCasas">Numero de immuebles por Torre o manzana:</label>
                    <input type="number" class="form-control" placeholder="Numero de immuebles por Torre o manzana" name="txtNumerosApartamentosoCasas" id="txtNumerosApartamentosoCasas" required>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="txtTotalInmuebles">Total de inmuebles:</label>
                    <input type="number" class="form-control" name="txtTotalInmuebles" id="txtTotalInmuebles" readonly>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="txtPisos">Numero de pisos por casa o torre:</label>
                    <input type="number" class="form-control" name="txtPisos" id="txtPisos" placeholder="Numero de pisos por casa o torre">
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="cbObraentregable">Obra entregable:</label> <br>
                    <select name="cbObraentregable" id="cbObraentregable" class="form-select"
                         required>
                        <option value="">Selecione</option>
                        {% for obra in entregaObra %}
                            <option value="{{obra.0}}">{{obra.0}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="txtCostSeparacion">Costo de separacion:</label>
                    <input type="number" class="form-control" name="txtCostSeparacion" id="txtCostSeparacion" placeholder="Costo de separacion">
                </div>
            </div>
            <div class="mt-3 col-lg-6">
                <div>
                    <label for="cbParqueadero">Parqueadero:</label> <br>
                    <select name="cbParqueadero" id="cbParqueadero" class="form-select"
                         required>
                        <option value="">Selecione</option>
                        {% for parqueadero in parqueaderos %}
                            <option value="{{parqueadero.0}}">{{parqueadero.0}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mt-3 col-lg-6">
                <div>
                    <label for="txtCantParqueadero">Cantidad de parqueaderos:</label>
                    <input type="number" class="form-control" name="txtCantParqueadero" id="txtCantParqueadero" placeholder="Cantidad de parqueaderos">
                </div>
            </div>
            <div class="mt-3 col-lg-12">
                <div>
                    <label for="fileFoto" class="fw-bold">Imagen del Proyecto: </label>
                    <input type="file" name="fileFoto" class="form-control" id="fileFoto" placeholder="Foto"  accept="image/*" required>
                </div>
            </div>
            <div class="col-12 text-center m-2 imgPerfil2">
                <img src="../media/simboloPNG.png" class="" alt="img-proyecto" style="width:10rem;height: 10rem;">
            </div>
            <div class="mt-3 col-lg-12">
                <div>
                    <label for="txtDescripcion">Descripcion del Proyecto:</label>
                    <textarea name="txtDescripcion" id="txtDescripcion" cols="30" rows="5"
                        class="form-control" required> </textarea>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <h3 class="text-center">Ubicacion</h3>
        </div>
        <div class="row">
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="cbDepartamento">Departamento:</label> <br>
                    <select name="cbDepartamento" id="cbDepartamento" class="form-select"
                     onchange="actualizarMunicipios()" required>
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="cbMunicipio">Municipio:</label> <br>
                    <select name="cbMunicipio" id="cbMunicipio" class="form-select"
                        aria-label="Default select example" required>
                        <option value="">Seleccione</option>
                    </select>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="txtDireccion">Direccion:</label>
                    <input type="text" class="form-control" placeholder="Direccion" name="txtDireccion" id="txtDireccion" required>
                </div>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-12 text-center">
                <a type="button" href="/inicioAdministrador/" class="btn btn-outline-danger">Cancelar</a>
                <button type="submit" class="btn btn-outline-secondary" id="guardarBtn">Siguiente</button>
            </div>
        </div>
      </form>
    </div> 
</div>
{% load static%}
<link rel="stylesheet" href="{% static 'css/body.css' %}">
<script src="{% static '../static/js/proyectos.js' %}"></script>
<script>
    cargarDepartamentos()
    document.addEventListener('DOMContentLoaded', function() {
      function previewImage(event) {
          var input = event.target;
          var imgPerfil = document.querySelector('.imgPerfil2 img');
  
          if (input.files && input.files[0]) {
              var reader = new FileReader();
  
              reader.onload = function(e) {
                  imgPerfil.src = e.target.result;
              }
  
              reader.readAsDataURL(input.files[0]);
          } else {
              // Imagen por defecto en caso de no seleccionar ninguna
              imgPerfil.src = '../media/simboloPNG.png';
          }
      }
  
      var fileInput = document.getElementById('fileFoto');
      fileInput.addEventListener('change', previewImage);
  });

  function multiplicarApartamentosYTorres() {
    const numeroApartamentos = parseInt(document.getElementById('txtNumerosApartamentosoCasas').value);
    const numeroTorres = parseInt(document.getElementById('txtNumeroTorresoManzanas').value);
  
    if (!isNaN(numeroApartamentos) && !isNaN(numeroTorres)) {
      const totalInmuebles = numeroApartamentos * numeroTorres;
      document.getElementById('txtTotalInmuebles').value = totalInmuebles;
    }else{
        document.getElementById('txtTotalInmuebles').value = 0;
    }
  }
  
  // Agregar el evento input a los campos para ejecutar la función de multiplicación automáticamente
  document.getElementById('txtNumerosApartamentosoCasas').addEventListener('input', multiplicarApartamentosYTorres);
  document.getElementById('txtNumeroTorresoManzanas').addEventListener('input', multiplicarApartamentosYTorres);
  //Enviar el total de inmuebles a el registro de casas o apartamentos
  document.getElementById("guardarBtn").addEventListener("click", function() {
    var numeroinmuebles = document.getElementById("txtTotalInmuebles").value;
    localStorage.setItem("Totalinmueblesnum", numeroinmuebles);
    //window.location.href = "registrarCasaoApartamento.html"
});
</script>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}