{% extends "index.html" %}
{% block encabezado %}
    {% include "administrador/encabezado.html" %}
{% endblock %}
{% block contenido %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/registrarCasaoApartamento.css' %}">
<script src="{% static '../static/js/proyectos.js' %}"></script>
<div class="row d-flex justify-content-center align-items-center" style="margin-top: 6rem; margin-bottom: 6rem;">
    <div class="bg-white p-5 rounded-5 text-dark shadow bg-opacity-75 w-100">
        <label for="selectForm">Seleccione si el proyecto va a ser de casas o apartamentos:</label>
        <select id="selectForm" onchange="showForm()" class="form-select">
            <option value="none" selected disabled>Seleccionar</option>
            <option value="formCasa">Casas</option>
            <option value="formApartamento">Apartamentos</option>
        </select>

        <form action="/registrarProyecto/" enctype="multipart/form-data" class="form-section"  method="post"  id="formCasa" name="formCasa"> 
            {% csrf_token %}
            <!-- Contenido del formulario para casas -->
            <input type="text" value="Casa" name="tipoProyecto" hidden>
            <input type="text" name="txtNombreProyecto" id="txtNombreProyecto" value="{{nombreProyecto}}" hidden/>
            <input type="text" value="{{fiducia}}" name="cbFiducia" hidden>
            <input type="text" value="{{numeroTorresOManzanas}}" name="txtNumeroTorresoManzanas" hidden>
            <input type="text" value="{{numeroApartamentosOCasas}}" name="txtNumerosApartamentosoCasas" hidden>
            <input type="text" value="{{totalInmuebles}}" name="txtTotalInmuebles" hidden>
            <input type="text" value="{{numeroPisos}}" name="txtPisos" hidden>
            <input type="text" value="{{obraEntregable}}" name="cbObraentregable" hidden>
            <input type="text" value="{{parqueadero}}" name="cbParqueadero" hidden>
            <input type="text" value="{{descripcion}}" name="txtDescripcion" hidden>
            <input type="text" value="{{departamento}}" name="cbDepartamento" hidden>
            <input type="text" value="{{ciudad}}" name="cbMunicipio" hidden>
            <input type="text" value="{{direccion}}" name="txtDireccion" hidden>
            <div class="row">
                <h2 class="text-center">Datos del inmueble</h2>
            </div>
            <div class="row">
                <div class="mt-3 col-lg-4">
                    <div>
                        <label for="">Numero de Habitaciones:</label>
                        <input type="number" class="form-control" name="txtNumHabitaciones" id="txtNumHabitaciones" placeholder="Numero de Habitaciones" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-4">
                    <div>
                        <label for="">Area construida en M2:</label>
                        <input type="number" class="form-control" name="txtAreaConstruida" id="txtAreaConstruida" placeholder="Area construida en M2" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-4">
                    <div>
                        <section id="multi-selector-uniq-casa">
                            <label for="">Fotos del inmueble:</label>
                            <input type="file" class="form-control" name="fileFotosCasa" id="fileFotosCasa" accept="image/*" multiple required>
                            <ul id="preview-casa"></ul>
                        </section>
                        
                    </div>
                </div>
            </div>
            <hr>   
            <div class="row">
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Tipo A:</label>
                        <input type="number" class="form-control" name="txtNumtipoA" id="txtNumtipoA" placeholder="Ingrese el número de inmuebles tipo A" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Precio de la casa tipo A:</label>
                        <input type="number" class="form-control" name="txtPrecioA" id="txtPrecioA" placeholder="Precio" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Tipo B:</label>
                        <input type="number" class="form-control" name="txtNumtipoB" id="txtNumtipoB" placeholder="Ingrese el número de inmuebles tipo B" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Precio de la casa tipo B:</label>
                        <input type="number" class="form-control" name="txtPrecioB" id="txtPrecioB" placeholder="Precio" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Tipo C:</label>
                        <input type="number" class="form-control" name="txtNumtipoC" id="txtNumtipoC" placeholder="Ingrese el número de inmuebles tipo C" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Precio de la casa tipo C:</label>
                        <input type="number" class="form-control" name="txtPrecioC" id="txtPrecioC" placeholder="Precio" required>
                    </div>
                </div>
                <div class="col-12 m-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-secondary w-50">Finalizar Registro del proyecto</button>
                </div>
            </div>
        </form>

        <form action="/registrarProyecto/" enctype="multipart/form-data"  method="post" class="form-section" id="formApartamento" name="formApartamento"> 
            {% csrf_token %}
            <!-- Contenido del formulario para apartamentos -->
            <input type="text" value="Apartamento" name="tipoProyecto" hidden>
            <input type="text" name="txtNombreProyecto" id="txtNombreProyecto" value="{{nombreProyecto}}" hidden/>
            <input type="text" value="{{fiducia}}" name="cbFiducia" hidden>
            <input type="text" value="{{numeroTorresOManzanas}}" name="txtNumeroTorresoManzanas" hidden>
            <input type="text" value="{{numeroApartamentosOCasas}}" name="txtNumerosApartamentosoCasas" hidden>
            <input type="text" value="{{totalInmuebles}}" name="txtTotalInmuebles" hidden>
            <input type="text" value="{{numeroPisos}}" name="txtPisos" hidden>
            <input type="text" value="{{obraEntregable}}" name="cbObraentregable" hidden>
            <input type="text" value="{{parqueadero}}" name="cbParqueadero" hidden>
            <input type="text" value="{{descripcion}}" name="txtDescripcion" hidden>
            <input type="text" value="{{departamento}}" name="cbDepartamento" hidden>
            <input type="text" value="{{ciudad}}" name="cbMunicipio" hidden>
            <input type="text" value="{{direccion}}" name="txtDireccion" hidden>
            <div class="row">
                <h2 class="text-center">Datos del inmueble</h2>
            </div>
            <div class="row">
                <div class="mt-3 col-lg-4">
                    <div>
                        <label for="">Numero de Habitaciones:</label>
                        <input type="number" class="form-control" name="txtNumHabitaciones" id="txtNumHabitaciones" placeholder="Numero de Habitaciones" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-4">
                    <div>
                        <label for="">Area construida en M2:</label>
                        <input type="number" class="form-control" name="txtAreaConstruida" id="txtAreaConstruida" placeholder="Area construida en M2" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-4">
                    <div>
                        <section id="multi-selector-uniq-apartamento">
                            <label for="">Fotos del inmueble:</label>
                            <input type="file" class="form-control" name="fileFotosApartamento" id="fileFotosApartamento" accept="image/*" multiple required>
                            <ul id="preview-apartamento"></ul>
                        </section>
                    </div>
                </div>
            </div>
            <hr>   
            <div class="row">
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Tipo A:</label>
                        <input type="number" class="form-control" name="txtNumtipoA" id="txtNumtipoA" placeholder="Ingrese el número de inmuebles tipo A" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Precio del apartamento tipo A:</label>
                        <input type="number" class="form-control" name="txtPrecioA" id="txtPrecioA" placeholder="Precio" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Tipo B:</label>
                        <input type="number" class="form-control" name="txtNumtipoB" id="txtNumtipoB" placeholder="Ingrese el número de inmuebles tipo B" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Precio del apartamento tipo B:</label>
                        <input type="number" class="form-control" name="txtPrecioB" id="txtPrecioB" placeholder="Precio" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Tipo C:</label>
                        <input type="number" class="form-control" name="txtNumtipoC" id="txtNumtipoC" placeholder="Ingrese el número de inmuebles tipo C" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Precio del apartamento tipo C:</label>
                        <input type="number" class="form-control" name="txtPrecioC" id="txtPrecioC" placeholder="Precio" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Tipo penthouse:</label>
                        <input type="number" class="form-control" name="txtNumTipoPenthouse" id="txtNumTipoPenthouse" placeholder="Ingrese el número de inmuebles tipo penthouse" required>
                    </div>
                </div>
                <div class="mt-3 col-lg-6">
                    <div>
                        <label for="">Precio del apartamento tipo penthouse:</label>
                        <input type="number" class="form-control" name="txtPrecioPenthouse" id="txtPrecioPenthouse" placeholder="Precio" required>
                    </div>
                </div>
                <div class="col-12 m-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-secondary w-50">Finalizar Registro del proyecto</button>
                </div>
            </div>
        </form> 
    </div>    
</div>
<script>
    function showForm() {
        const selectElement = document.getElementById('selectForm');
        const selectedForm = selectElement.value;
    
        const formCasa = document.getElementById('formCasa');
        const formApartamento = document.getElementById('formApartamento');
    
        formCasa.classList.remove('active');
        formApartamento.classList.remove('active');
    
        if (selectedForm === 'formCasa') {
            formCasa.classList.add('active');
        } else if (selectedForm === 'formApartamento') {
            formApartamento.classList.add('active');
        }
    }

    fotos('multi-selector-uniq-apartamento','fileFotosApartamento','preview-apartamento')
    fotos('multi-selector-uniq-casa','fileFotosCasa','preview-casa')
</script>
{% endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}
