{% extends "index.html" %}
{% block encabezado %}
    {% include "administrador/encabezado.html" %}
{%endblock %}
{% block contenido %}
<div class="d-flex justify-content-center align-items-center vh-100" style="margin-top:6rem; margin-bottom: 6rem;">
    <div class="bg-white p-5 rounded-5 text-dark shadow bg-opacity-75 w-100">
        <h2 class="text-center">Registrar Proyecto</h2>
      <form action="" enctype="multipart/form-data"  method="post" class="needs-validation" novalidate> 
        {% csrf_token %}
        <div class="row">     
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="txtNombreProyecto">Nombre del proyecto:</label> <br>
                    <input class="form-control" type="text" placeholder="Nombre de proyecto" required /><br>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="txtDescripcion">Descripcion del Proyecto:</label>
                    <textarea name="txtDescripcion" id="txtDescripcion" cols="30" rows="5"
                        class="form-control"> </textarea>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="txtFiducia">Fiducia:</label> <br>
                    <select name="txtFiducia" id="txtFiducia" class="form-select"
                        aria-label="Default select example">
                        <option value="">Seleccione</option>
                        <option value="">Bancolombia</option>
                        <option value="">BBVA</option>
                        <option value="">Banco de Bogota</option>
                        <option value="">Banco Caja Social</option>
                        <option value="">Grupo Bancolombia</option>
                        <option value="">Davivienda</option>
                        <option value="">Banco de Occidente</option>

                    </select>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="">Numero de Torres o manzanas:</label>
                    <input type="number" class="form-control" placeholder="Numero de Torres o manzanas" required>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="">Numero de apartamentos o casas:</label>
                    <input type="number" class="form-control" placeholder="Numero de apartamentos o casas" required>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="cbObraentregable">Obra entregable:</label> <br>
                    <select name="cbObraentregable" id="cbObraentregable" class="form-select"
                        aria-label="Default select example">
                        <option value="">Selecione</option>
                        <option value="">Obra blanca</option>
                        <option value="">Obra gris</option>
                    </select>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="cbParqueadero">Parqueadero:</label> <br>
                    <select name="cbParqueadero" id="cbParqueadero" class="form-select"
                        aria-label="Default select example">
                        <option value="">Selecione</option>
                        <option value="">Comunal</option>
                        <option value="">Asignado</option>
                    </select>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="fileFoto" class="fw-bold">Imagen del Proyecto: </label>
                    <input type="file" name="fileFoto" class="form-control" id="fileFoto" placeholder="Foto">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <h3 class="text-center">Ubicacion</h3>
        </div>
        <div class="row">
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="cbDepartamento">Departamento:</label> <br>
                    <select name="cbDepartamento" id="cbDepartamento" class="form-select"
                        aria-label="Default select example">
                        <option value="">Selecione</option>
                        <option value="">Huila</option>
                        <option value="">Cundinamarca</option>
                        <option value="">Antioquia</option>
                    </select>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="cbMunicipio">Municipio:</label> <br>
                    <select name="cbMunicipio" id="cbMunicipio" class="form-select"
                        aria-label="Default select example">
                        <option value="">Neiva</option>
                        <option value="">La Plata</option>
                        <option value="">Colombia</option>
                    </select>
                </div>
            </div>
            <div class="mt-3 col-lg-4">
                <div>
                    <label for="txtDireccion">Direccion:</label>
                    <input type="text" class="form-control" placeholder="Direccion" required>
                </div>
            </div>
        </div>
      </form>
    </div> 
</div>
{% load static%}
<link rel="stylesheet" href="{% static 'css/body.css' %}">
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}