<div class="row">
    <!-- Encabezado -->
    <header class="p-3 mb-3 border-bottom border-black bg-body-secondary">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <i class="bi bi-houses" style="font-size: 1.5rem"></i>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/inicioAsesor/" class="nav-link px-2 link-body-emphasis link-opacity-25-hover">INICIO</a></li>
            <li class="nav-item">
              <a class="nav-link px-2 link-body-emphasis link-opacity-25-hover" href="#">
                PROYECTOS
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 link-body-emphasis link-opacity-25-hover" href="#">
                VENTAS
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 link-body-emphasis link-opacity-25-hover" href="#">
                LISTA DE MORA
              </a>
            </li>
          </ul>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <div class="d-flex align-items-center">
              <input type="search" class="form-control" placeholder="Buscar proyectos" aria-label="Search">
              <button class="btn btn-outline-secondary mx-1" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </form>
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="navbarDropdownMenuPerfil" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.userFoto != "" %}
                <img src="../media/{{user.userFoto}}" alt="mdo" width="32" height="32" class="rounded-circle">
              {% else %}
                <img src="../media/usuario-icono.png" alt="mdo" width="32" height="32" class="rounded-circle">
              {% endif %}
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="navbarDropdownMenuPerfil">
              <li>
                <h5 class="dropdown-header">{{user.first_name}} {{user.last_name}} - {{user.userTipo}}</h5>
              </li>
              <li><a class="dropdown-item" href="#">Mis ventas</a></li>
              <li><a class="dropdown-item" href="/vistaPerfilUsuario/">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Ayuda</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/cerrarSesion/">Cerrar sesión</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>