{% extends "index.html" %}
{% block encabezado %}
    {% include "asesor/encabezado.html" %}
{%endblock %}
{% block contenido %}
<div class="row">
  <div id="carouselExampleDark" class="carousel slide">
      <div class="carousel-indicators" id="indicadores">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" id="CarruselProyectos">
       
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
<div class="row" id="listaProyectos">
 

</div>
{% load static%}
<link rel="stylesheet" href="{% static 'css/body.css' %}">
<script src="{% static '../static/js/ProyectosLista.js' %}"></script>
<script src="{% static '../static/js/buscador.js' %}"></script>
{%endblock %}
{% block piePagina %}
  {% include "piePagina.html" %}
{%endblock %}