{% extends "index.html" %}
{% block encabezado %}
    {% include "asesor/encabezado.html" %}
{%endblock %}
{% block contenido %}

<div class="row d-flex justify-content-center align-items-center">
    <div class="bg-white p-5 rounded-5 text-secondary bg-opacity-75 table-responsive" style="width: 60rem">
        <div class="d-flex justify-content-center">
            <h3 class="text-center bg-bold">Inmuebles Disponibles</h3>
        </div>
        <div class="w-100">
            <table class="mt-3 table table-bordered table-hover" id="tablaInmosoft">
                <thead>
                    <tr class="text-center bg-secondary text-white">
                        <th>N° de </th>
                        <th>Precio</th>
                        <th>Tipo</th>
                        <th>Disponibilidad</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody id="tblInmuebles">
                    
                   
                </tbody>
            </table>
            <div class="row p-3">
                <div class="col-4 border-bottom border-black text-center" style="height: 0.9rem">
                </div>
                <div class="col-4 text-center">
                    <span class="fw-bold">ASESOR</span>
                </div>
                <div class="col-4 border-bottom border-black text-center" style="height: 0.9rem">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% load static%}
<link rel="stylesheet" href="{% static 'css/body.css' %}">
<script src="{% static '../static/js/buscador.js' %}"></script>
<script src="{% static '../static/js/inmuebles.js' %}"></script>

<script>
    readInmuebles({{idProyecto}})
</script>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}