{% extends "index.html" %}
{% block encabezado %}
    {% include "asesor/encabezado.html" %}
{%endblock %}
{% block contenido %}

<div class="row d-flex justify-content-center align-items-center">
    <div class="bg-white p-5 rounded-5 text-secondary bg-opacity-75 table-responsive" style="width: 60rem">
        <div class="d-flex justify-content-center">
            <h3 class="text-center bg-bold">VENTAS</h3>
        </div>
        <div class="w-100">
            <table class="mt-3 table table-bordered table-hover" id="tablaInmosoft">
                <thead>
                    <tr class="text-center bg-secondary text-white">
                        <th>N° de inmueble</th>
                        <th>Nombre de cliente</th>
                        <th>Nombre del Proyecto</th>
                        <th>Estado</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody id="tablaVendidos">
                    
                </tbody>
            </table>
            <div class="row p-3">
                <div class="col-4 border-bottom border-black text-center" style="height: 0.9rem">
                </div>
                <div class="col-4 text-center">
                    <span class="fw-bold">ASESOR</span>
                </div>
                <div class="col-4 border-bottom border-black text-center" style="height: 0.9rem">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl"> <!-- Add modal-xl class here -->
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center bg-body-secondary bg-opacity-75">
                <h2>Registrar Pago</h2>
            </div>
                <div class="modal-body">

                    <form action="" enctype="multipart/form-data" method="post" id="PagoInmueble"> 
                        {% csrf_token %}
                        <div class="row">     
                            
                            
                            <div class="mt-3 col-lg-6">
                                <div>
                                    <label for="txtFechaInicial"class="fw-bold">Fecha pago:</label> <br>
                                    <input class="form-control" type="text" placeholder="" name="txtFechaPago" id="txtFechaInicial" readonly />
                                </div>
                            </div>
                            <div class="mt-3 col-lg-6">
                                <div>
                                    <label for="txtMes"class="fw-bold">Mes:</label> <br>
                                    <input class="form-control" type="text" placeholder="" name="txtMes" id="txtMes" readonly />
                                </div>
                            </div>
                            <div class="mt-3 col-lg-6">
                                <div>
                                    <label for="txtNumCuota"class="fw-bold">numero de Cuota:</label> <br>
                                    <input class="form-control" type="text" placeholder="" name="txtNumCuota" id="txtNumCuota" readonly />
                                </div>
                            </div>
                            <div class="mt-3 col-lg-6">
                                <div>
                                    <label for="txtValorCuotaMostrar"class="fw-bold">Valor Cuota:</label> <br>
                                    <input class="form-control" type="text" placeholder="" name="txtValorCuotaMostrar" id="txtValorCuotaMostrar" readonly />
                                </div>
                            </div>
                            <input class="form-control" type="hidden" placeholder="" name="txtValorCuota" id="txtValorCuota"/>
                            <div class="mt-3 col-lg-12">
                                <div>
                                    <label for="fileFoto" class="fw-bold">Vale de Pago: </label>
                                    <input type="file" name="fileFoto" class="form-control" id="fileFoto" placeholder="Foto"  accept="image/*" required />
                                </div>
                            </div>
                            <div class="col-12 text-center m-2 imgPerfil2">
                                <img src="../media/simboloPNG.png" class="" alt="img-pago" style="width:10rem;height: 10rem;">
                            </div>
                            <input type="text"  name="txtValorPendiente" id="txtValorPendiente" hidden>
                            <input type="text"  name="txtValorPagoTotal" id="txtValorPagoTotal" hidden>

                           
                        </div>
                        <div class="row m-3">
                            <div class="col-12 text-center">
                                <a type="button" data-bs-dismiss="modal" class="btn btn-outline-danger">Cancelar</a>
                                <button type="submit"   class="btn btn-outline-secondary" id="btnRegistrarPago">Registrar Pago</button>
                            </div>
                        </div>
                    </form>

                </div> 
        </div>
    </div>
</div>
{% load static%}
<link rel="stylesheet" href="{% static 'css/body.css' %}">
<link rel="stylesheet" href="{% static 'css/loaderTabla.css' %}">
<link rel="stylesheet" href="{% static 'css/buscador.css' %}">
<script src="{% static '../static/js/buscador.js' %}"></script>
<script src="{% static '../static/js/registroPago.js' %}"></script>
<script>
    readVentasVendidas()

    function abrirModal(id) {
        const url = `/obtenerPagosRegistrados/${id}/`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('txtFechaInicial').value = data.registroPago.fechaInicio;
                cuota = parseInt(data.registroPago.numCuota)+1;
                numeroCuotas = parseInt(data.registroPago.numCuotas);
                document.getElementById('txtNumCuota').value = cuota;
                document.getElementById('txtValorCuota').value = data.registroPago.valorPago;
                document.getElementById('txtValorCuotaMostrar').value = data.registroPago.valorPago.toLocaleString('es-ES', { style: 'decimal' });
                valorpago= parseInt(data.registroPago.valorPago);
                valorpendiente = parseInt(data.registroPago.valorPendiente)-valorpago;
                valortotal = parseInt(data.registroPago.valorRecaudado)+valorpago;
                document.getElementById('txtValorPendiente').value = valorpendiente;
                document.getElementById('txtValorPagoTotal').value = valortotal;
                // Obtener el elemento de entrada de fecha
                var txtFechaInicial = document.getElementById("txtFechaInicial");

                // Obtener el elemento de entrada de mes
                var txtMes = document.getElementById("txtMes");

                // Obtener el valor de la cuota (asumiendo que cuota es un número entero)
                var cuota = cuota; // Aquí debes establecer el valor correcto de cuota

                // Obtener la fecha actual desde txtFechaInicial (asegúrate de que el formato sea YYYY-MM-DD)
                var fechaActual = new Date(txtFechaInicial.value);

                // Calcular el nuevo mes
                var nuevoMes = fechaActual.getMonth() + cuota;

                var diaActual = fechaActual.getDate()-29;

                // Manejar el caso en que el nuevo mes sea mayor que 11 (diciembre)
                if (nuevoMes > 11) {
                    nuevoMes = nuevoMes % 12; // Obtener el mes dentro del rango [0, 11]
                    fechaActual.setFullYear(fechaActual.getFullYear() + 1); // Incrementar el año
                }

                // Establecer el nuevo mes en la fecha
                fechaActual.setMonth(nuevoMes);

                fechaActual.setDate(diaActual);

                // Formatear la fecha en formato YYYY-MM-DD
                var formatoFecha = fechaActual.getFullYear() + "-" + (fechaActual.getMonth() + 1).toString().padStart(2, '0') + "-" + fechaActual.getDate().toString().padStart(2, '0');

                // Obtener el nombre del mes
                var nombreMes = obtenerNombreMes(fechaActual.getMonth());

                // Establecer el valor de los elementos de entrada
                txtFechaInicial.value = formatoFecha;
                txtMes.value = nombreMes;

                // Función para obtener el nombre del mes
                function obtenerNombreMes(mes) {
                    var meses = [
                        "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
                    ];
                    return meses[mes];
                }

                const formulario = document.getElementById('PagoInmueble');
                formulario.action = `/actualizarPago/${data.registroPago.id}/`;
                if(cuota<=numeroCuotas){
                    $('#editarModal').modal('show');
                }else{
                    Swal.fire({
                        title: 'Registro de Pago',
                        text: 'Esta persona ha completado su pago',
                        icon: 'warning',               
                        confirmButtonColor: '#3085d6',             
                        confirmButtonText: 'Aceptar'
                    })
                }

            });
    
        // Mostrar el modal
        
    }

    document.addEventListener('DOMContentLoaded', function() {
        function previewImage(event) {
            var input = event.target;
            var imgPerfil = document.querySelector('.imgPerfil2 img');
    
            if (input.files && input.files[0]) {
                var reader = new FileReader();
    
                reader.onload = function(e) {
                    imgPerfil.src = e.target.result;
                }
    
                reader.readAsDataURL(input.files[0]);
            } else {
                // Imagen por defecto en caso de no seleccionar ninguna
                imgPerfil.src = '../media/simboloPNG.png';
            }
        }
    
        var fileInput = document.getElementById('fileFoto');
        fileInput.addEventListener('change', previewImage);
    });
</script>
{% if mensaje %}
{% if estado %}
  <script>
    Swal.fire({
      title: 'Registro de Pago',
      text: '{{mensaje}}',
      icon: 'success',               
      confirmButtonColor: '#3085d6',             
      confirmButtonText: 'Aceptar'
  }).then((result) => {
      if (result.isConfirmed) {
        url= "/vistaVentasVendidas/"
        location.assign(url)
      }
  })
</script>
{% else %}
<script>
  Swal.fire({
    title: 'Registro de Pago',
    text: '{{mensaje}}',
    icon: 'warning',               
    confirmButtonColor: '#3085d6',             
    confirmButtonText: 'Aceptar'
}).then((result) => {
    if (result.isConfirmed) {
    }
})
</script>
{% endif %}
{% endif %}
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}